
@font-face {
  font-family: "8bit";   /*Can be any text*/
  src: local("8bit"),
    url("./fonts/8bit.TTF") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "8bit", "Verdana", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
